@use 'sass:map';
@import '../../sass/all';

.testimonials {
  background-color: $background-white;
  padding: map.get($spacing, 'xxl') 0;

  &__container {
    text-align: center;
  }

  &__heading {
    @include heading-styles;
    @include margin('top', 'md');

    @include tablet {
      font-size: $fs-2Xl;
    }
  }

  &__cards {
    @include margin('top', 'xl');
    @include flex-row;

    gap: map.get($spacing, md);
    mask-image: linear-gradient(
      to bottom,
      transparent,
      black 25%,
      black 75%,
      transparent
    );
    max-height: 73.8rem;
  }

  &__third-column {
    @include laptop {
      display: none;
    }
  }

  &__second-column {
    @include tablet {
      display: none;
    }
  }
}
