@use 'sass:map';
@import '../../sass/all';

.card {
  min-height: 53.8rem;
  width: 48.6rem;
  @include flex-column(flex-start, center);
  @include card-styles;

  @include tablet {
    min-height: 48rem;
    padding: map.get($spacing, sm);
    width: 100%;
  }

  &__img {
    height: auto;
  }

  &__heading {
    letter-spacing: -0.04em;
    text-align: center;

    @include heading-styles('hsdf');
    @include margin(bottom, sm);
  }

  &__description {
    max-width: 34rem;
    text-align: center;
  }
}
