@use 'sass:map';
@import '../../sass/all';

.navbar {
  padding: 2rem 0;

  &__menu-icon {
    display: none;

    @include tablet {
      display: inline-block;
      fill: $text-black-60;
      height: 2rem;
      width: 2rem;
    }
  }

  &__container {
    @include flex-row(space-between, center);
  }

  &__menu {
    @include flex-row(flex-start, center);

    color: $text-black-60;
    gap: map.get($spacing, 'md');

    @include tablet {
      display: none;
    }
  }

  &__link {
    cursor: pointer;
  }
}
