@use 'sass:map';
@import '../../sass/all';

.showcase {
  background: $gradient-white-silver;
  overflow-x: clip;
  padding: map.get($spacing, 'xxxl') 0;

  &__images {
    margin: map.get($spacing, lg) 0;
    position: relative;
  }

  &__product-image {
    height: auto;
  }

  &__tube-image,
  &__pyramid-image {
    position: absolute;

    @include tablet {
      display: none;
    }
  }

  &__tube-image {
    bottom: 6.6rem;
    left: -14.1rem;
  }

  &__pyramid-image {
    right: -15.1rem;
    top: 9.7rem;
  }
}
