@import '../../sass/all';

.header {
  gap: 2rem;
  margin: 0 auto;
  max-width: 54rem;
  text-align: center;
  @include flex-column(flex-start, center);

  &__heading {
    @include heading-styles;

    @include tablet {
      font-size: $fs-2Xl;
    }
  }

  &__description {
    font-size: $fs-lg;
  }
}
